<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847238264420-e2ta3t7a661cih430i1l6o9vche2bdf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847238264420-e2ta3t7a661cih430i1l6o9vche2bdf4</string>
	<key>API_KEY</key>
	<string>AIzaSyCrHAOTX87f5-E5hSY3UAG3M9J2GE05S8s</string>
	<key>GCM_SENDER_ID</key>
	<string>847238264420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Illinois.local2</string>
	<key>PROJECT_ID</key>
	<string>local3-d2e22</string>
	<key>STORAGE_BUCKET</key>
	<string>local3-d2e22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:847238264420:ios:44195c14b2ba9123</string>
	<key>DATABASE_URL</key>
	<string>https://local3-d2e22.firebaseio.com</string>
</dict>
</plist>